.hangman {
  width: 500px;
  background-color: aqua;
  padding: 20px;
}

.solution {

}

.solution__place span{
  padding: 10px;
}

.letters {
  width: 300px;
  margin: auto;

}
.letters__row {
  display: flex;
  justify-content: center;
}
.letters__btn {
  width: 30px;
  margin: 5px;
}